.header {
  display: flex;
  flex-direction: column;
}
.login_header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background: #dcdcdc;
  color: #000;
  font-size: 13px;
}
.login_header_left_container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.login_header_left_container span {
  display: flex;
  align-items: center;
  gap: 5px;
}
.login_header_right_container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.login_header_links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;
  padding: 20px 0;
  height: 80px;
}
.nav_fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;
  padding: 20px 0;
  animation: slideIn 0.7s ease-in-out;
  z-index: 999;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.list_container {
  display: flex;
  align-items: center;
  gap: 25px;
}
.list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.list_container_button {
  background: #035ded;
  padding: 10px 20px;
  color: #fff;
  border-radius: 8px;
}
.list_container_mobile {
  display: none;
  position: absolute;
  flex-direction: column;
  top: 80px;
  background: white;
  width: 100%;
  height: 50vh;
  align-items: flex-start;
  padding: 20px 50px;
  animation: slideIn 0.7s ease-in-out;
}
.mobile_hamburger_button {
  display: none;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .login_header {
    display: none;
  }
  .mobile_hamburger_button {
    display: flex;
  }
  .list_container {
    display: none;
  }
  .list_container_mobile {
    display: flex;
  }
  .list {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}
